CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="AXP209_POWER"
CONFIG_FDTFILE="sun7i-a20-icou_fatty_i.dtb"
CONFIG_VIDEO_LCD_MODE="x:768,y:1024,depth:18,pclk_khz:66000,le:56,ri:60,up:30,lo:36,hs:64,vs:50,sync:3,vmode:0"
CONFIG_VIDEO_LCD_PANEL_MIPI_4_LANE_513_MBPS_VIA_SSD2828=y
CONFIG_VIDEO_LCD_SSD2828_RESET="PH24"
CONFIG_VIDEO_LCD_RESET="PH23"
CONFIG_VIDEO_LCD_UNKNOWN="PH22"
CONFIG_VIDEO_LCD_SPI_CS="PA5"
CONFIG_VIDEO_LCD_SPI_SCLK="PA6"
CONFIG_VIDEO_LCD_SPI_MOSI="PA7"
CONFIG_VIDEO_LCD_SPI_MISO="PA8"
CONFIG_VIDEO_LCD_POWER="PH8"
CONFIG_VIDEO_LCD_BL_EN="PH7"
CONFIG_VIDEO_LCD_BL_PWM="PB2"
CONFIG_USB_KEYBOARD=n
+S:CONFIG_ARM=y
+S:CONFIG_ARCH_SUNXI=y
+S:CONFIG_MACH_SUN7I=y
+S:CONFIG_TARGET_ICOU_FATTY_I=y
